<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>内涵段子.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD31BFCB1EAC4BDB006728DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD31BFE71EAC4BDB006728DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD31BFF21EAC4BDB006728DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
